
{% extends "base.html" %}
{%block title%}{{question.subject}}{% endblock %}

{% block content %}

<div class="container my-3">
    <!-- 질문 -->
    <h2 class="py-2">{{ question.subject }}</h2>
    <div class="px-3">
      글쓴이: <a class="usernamel"href="{% url 'common:profile' question.author.id %}">{{question.author.number}}({{question.author}})</a>
      <img class="rounded-circle shadow-1-strong me-3"
      src="{{question.author.profile.url}}" alt="avatar" width="40"
      height="40" style="border: 1px solid #18b7be;"/>

      <br>
      좋아요: <span class="badge rounded-pill" style="background-color: #18b7be;">{{question.voter.count}}</span>  
    </div>
    <hr class="line">
    <div class="px-3">
      <div style="background-color: #18b6be35; border-radius: 20px;">
        <div class="px-4 py-3" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="px-4 text-dark p-2">
                    작성일: {{ question.create_date }}
                </div>
            </div>    </div>
    <div class="py-1">
    {% if request.user == question.author %}
    <a href="{% url 'makeit:question_modify' question.id  %}" 
      class="btn btn-sm btn-outline-secondary">수정</a>
    <a onclick="del(this)" data-uri="{% url 'makeit:question_delete' question.id  %}" 
      class="btn btn-sm btn-outline-secondary">삭제</a>
    {% endif %}
    <a href="javascript:void(0)"  onclick="vote(this)" data-uri="{% url 'makeit:question_vote' question.id  %}" class="btn btn-sm btn-outline-secondary">
      좋아요
    </a>
  </div>
</div>

    <!-- 답변 -->
    <hr class="line"> 
    <h5 class="my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="commentcard mb-3">
        <div class="card-body">
          <div class="d-flex flex-start">
            <img class="rounded-circle shadow-1-strong me-3"
              src="{{answer.author.profile.url}}" alt="avatar" width="40"
              height="40" style="border: 1px solid #18b7be;"/>
            <div class="w-100">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="text-primary mb-0">
                  <a class="username"href="{% url 'common:profile' answer.author.id %}">{{answer.author.number}}({{answer.author}})</a>
                  <span class="text-body ms-2" style="font-weight: 400;">{{answer.content}}</span>
              </h6>
                <p class="mb-0">{{answer.create_date}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="small mb-0" style="color: #aaa;">
                  {%if answer.author == request.user %}
                  <a href="javascript:void(0)"  onclick="del(this)" data-uri="{% url 'makeit:answer_delete' answer.id  %}" class="link-grey">Remove</a>
                  {%endif%}
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    <!-- 답변 등록 -->
    <form action="{% url 'makeit:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                    {% if field.errors %}
                    <div>
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- 오류표시 End -->        
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
            name="content" id="content" class="form-control" rows="3" placeholder="욕설 및 비방이 과도한 글은 삭제됩니다. 예쁜말을 써주세요 ^^"></textarea>
      </div>
      <div class="pb-2">
        <input style="float: right;" type="submit" value="답변등록" class="btn btn-outline-secondary">
      </div>
    </form>
</div>

{% endblock %}


{% block script %}
<script type='text/javascript'>

    function del(el) {
      if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = el.dataset.uri;
            };
    }
    function vote(el) {
      if(confirm("정말로 추천하시겠습니까?")) {
                location.href = el.dataset.uri;
            };
    }
    </script>
{% endblock %}