{% load static %}
<!DOCTYPE html>
<html lang="ko" style="background-color: #072a40;">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Test.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'croffle.svg' %}" rel="shortcut icon" type="image/x-icon">
</head>
<body class="bg-light" style="font-family: 'Noto Sans Kr'; color: #072A40;">
      <header class="p-2" style="background-color: #072A40; z-index:1; position: fixed;
      top: 0;
      width: 100%;
    ">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'main' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
              <img src="{% static 'retro.svg' %}" height="32px" width="100px">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 px-3">
              <b><a href="{% url 'makeit:index' %}" class="navlink px-2">&lt만들어주세요!&gt</a></b>
              {%for year in year_lists%}
              <b><a href="{% url 'byyears' year.id %}" class="navlink px-2">{{year.year}}</a></b>
              {%endfor%}            
            </ul>
            <form class="d-flex" role="search" id="searchForm" method="get" action="{% url 'search' %}">
              <input style="background-color: #F9F7F0;" class="form-control me-2" type="text" id="kw" name="kw" placeholder="프로젝트 검색" id="search_kw" value="{{ kw|default_if_none:'' }}">
              <button class="btns success me-2" style="width: 80px; height: 37.2px;" type="submit">검색</button>
            </form>        
              <button class="btns success custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbarLight">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>
        </div>
      </header>
      <header class="p-2" style="background-color: #072A40; 
    ">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'main' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
              <img src="{% static 'retro.svg' %}" height="32px" width="100px">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 px-3">
              <b><a href="{% url 'makeit:index' %}" class="navlink px-2">&lt만들어주세요!&gt</a></b>
              {%for year in year_lists%}
              <b><a href="{% url 'byyears' year.id %}" class="navlink px-2">{{year.year}}</a></b>
              {%endfor%}
            </ul>
            <form class="d-flex" role="search" id="searchForm" method="get" action="{% url 'search' %}">
              <input style="background-color: #F9F7F0;" class="form-control me-2" type="text" id="kw" name="kw" placeholder="프로젝트 검색" id="search_kw" value="{{ kw|default_if_none:'' }}">
              <button class="btns success me-2" style="width: 80px; height: 37.2px;" type="submit">검색</button>
            </form>        
              <button class="btns success custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbarLight">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>
        </div>
      </header>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width:400px;background-color: #F9F7F0; color:#F9F7F0">
        <div class="offcanvas-header" style="  border-bottom: solid 1px #072A40;">
          <h5 class="offcanvas-title" style="color:#072A40; font-size: 200%;" id="offcanvasNavbarLabel"><img class="me-1"src="{%static 'croffle_5816205.png'%}" width="40px" height="40px">Croffle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color:white"></button>
        </div>
        <div class="offcanvas-body" style="color:#072A40">
          <div class="container px-3 py-3">
          <p class="py-1"><a href="{% url 'makeit:index' %}" class="offcanvaslink px-2">&lt만들어주세요!&gt 게시판</a></p>
          {%for year in year_lists%}
          <p class="py-1"><a href="{% url 'byyears' year.id %}" class="offcanvaslink px-2">{{year.year}}</a></p>
          {%endfor%}
          <p class="py-1"><a href="{% url 'project_create' %}"class="offcanvaslink px-2">프로젝트 등록</a></p>
          </div>
        </div>
        <div class="offcanvas-footer" style="color:#072A40; border-top: solid 1px #072A40;">
          <div class="px-3 py-4">
            {% if user.is_authenticated %}
            <img src="{{request.user.profile.url}}" width="40" height="40" class="rounded-circle" style="border:1px solid #072A40;">
            <!-- Default dropup button -->
            <div class="btn-group dropup">
              <button type="button" class="btnss dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}({{user.number}})
              </button>
              <ul class="dropdown-menu">
                <!-- Dropdown menu links -->
                <li><a class="dropdown-item" style="border-bottom: 1px solid #072A40;" href="{% url 'common:profile' request.user.id %}">프로필</a></li>
                <li><a class="dropdown-item" href="{% url 'makeit:question_create' %}">질문 등록</a></li>
                <li><a class="dropdown-item" href="{% url 'project_create' %}">프로젝트 등록</a></li>
                <li><a class="dropdown-item" href="{% url 'common:logout' %}">로그아웃</a></li>
              </ul>
            </div>            
            {% else %}
            <div class="px-3">
              <a class="me-2"href="{% url 'common:login' %}" style="color:#072A40;text-decoration: none; font-weight: 800; font-size: 16px;">로그인</a>
              <a href="{% url 'common:signup' %}" style="color:#59656c; font-size: 16px;">회원가입</a>
            </div>
            {% endif %} 
          </div>
        </div>
        </div>

        
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
<footer style="background-color: #072a40;">
  <div class="footerdivv bg-light">
  </div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <p class="col-md-4 mb-0 text-muted">&copy; 2024 DataStructure Project</p>

    <a href="{% url 'main' %}" class="py-2 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="{%static '10.png' %}" width="70px" height="70px">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'main' %}" class="nav-link px-2 text-muted">home</a></li>
      <li class="nav-item"><a href="https://www.markdownguide.org/getting-started"target='_blank' class="nav-link px-2 text-muted">markdown</a></li>
      <li class="nav-item"><a href="{% url 'byyears' 1 %}" class="nav-link px-2 text-muted">2023-1</a></li>
      <li class="nav-item"><a href="{% url 'byyears' 2 %}" class="nav-link px-2 text-muted">2023-2</a></li>
      <li class="nav-item"><a href="{% url 'byyears' 3 %}" class="nav-link px-2 text-muted">2024-1</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'common:login' %}" class="nav-link px-2 text-muted">로그아웃</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'common:logout' %}" class="nav-link px-2 text-muted">로그인</a></li>
      <li class="nav-item"><a href="{% url 'common:signup' %}" class="nav-link px-2 text-muted">회원가입</a></li>
      {% endif %}
    </ul>
  </footer>
</footer>
</html>