{% extends 'base.html' %}
{% block content %}

<a href="{% url 'project_create' %}" class="btn btn-primary">프로젝트 등록하기</a>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      {% for year in year_list %}
      <p>{{year.year}}</p>
      <a href="byyears/{{ year.id }}/" class="btn btn-sm btn-outline-secondary">{{year.year}}</a>
      <div class="row row-cols-3">
        {% for project in year.project_set.all %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">{{ project.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/{{ project.id }}/" class="btn btn-sm btn-outline-secondary">View</a>
                  <a class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
{% endblock %}