{% extends 'base.html' %}
{% block title %}Croffle{% endblock %}

{% block content %}
<main>
    
  {% load static %}
<!-- Jumbotron -->
<div class="bg-image" style="
    height: 322px;
  ">
  <div class="mask" style="background-color: rgba(7, 42, 64, 0.7); height: 322px; width:100%">
    <div class="container">
      <div style="text-align:center;font-size:600%; color:#ccb854; font-family: Poetsen One;">Croffle</div>
      <div style="text-align:center;font-size:110%; color:#F9F7F0;">안녕하세요? 자료구조 프로젝트 모음 사이트 Croffle입니다!</div>
      <div style="text-align:center;font-size:110%; color:#F9F7F0;">선배들의 멋진 프로젝트들을 직접 사용하거나 아이디어를 얻을 수 있습니다.</div>
      <div style="text-align:center;font-size:110%; color:#F9F7F0;">&lt만들어주세요!&gt게시판을 통해 요청을 해보세요!</div>
      <div style="text-align:center;font-size:110%; color:#F9F7F0;">(made by Oh, Choi)</div>
    </div>
  </div>
</div>
<!-- Jumbotron -->



  <div class="album py-4">
    <div class="container px-2">

      <div class="row g-0">
        <div class="col-sm-6 col-md-8">
          {%for year in year_list%}
          <div class="container mb-4">
            <div class="p-1 mb-4 text-white rounded-pill" style="background-color:#178CA4;">
              <a href="{% url 'byyears' year.year_id %}" class="year px-2">{{year.year}}</a>
            </div>
            <div class="container px-2">
              <div class="row row-cols-1 row-cols-md-3">
                {% for project in year.queryset %}
                <div class="col-mb-4 py-1">
                  <div class="card" style="border: 2px solid #178ca477;">
                    {% if project.imgfile %}
                    <img class="card-img-top" src="{{ project.imgfile.url }}" style="height: 150px; width: 100%;">
                    {% else %}
                    <img class="card-img-top" src="{{ project.poster.url }}" style="height: 150px; width: 100%;">
                    {% endif %}
                    <div class="card-body" style="height: 150px;">
                      <a href="/{{ project.id }}/" style="text-decoration: none; color: black;">
                        <h5 class="navlink"style="color:#072A40;">{{ project.title }}</h5>
                      </a>
                      {% if project.imgfile %}
                      <p class="hi">{{ project.abstract }}</p>
                      {% else %}
                      <p class="hi">이 프로젝트는 {{ project.year.year }}에 개발된 프로젝트로 우수한 퀄리티를 통해, 자료구조 과목을 빛냄.</p>
                      {% endif %}
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-8">
                          <div class="hiii">{{project.member}}</div>
                        </div>
                        <div class="col-4" style="font-size: 80%; padding: 0;">
                          <div style="float: right; padding-right: 6px;">
                            {{project.harts.count}}
                            <img src="{% static 'heart.svg' %}" style="height: 15px; width: 15px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {%endfor%}

        </div>  

        <div class="col-sm-6 col-md-4 container px-4">
          <div class="p-1 mb-4 text-white rounded-pill" style="background-color:#178CA4;">
            <a href="{% url 'makeit:index' %}" class="year px-2">&lt만들어주세요!&gt</a>
          </div>
          <table class="table">
            <thead>
            <tr class="table-white">
                <th>제목</th>
                <th>글쓴이</th>
            </tr>
            </thead>
            {% for question in question_list %}
            <tr>
                <td>
                    <a class="tablelink" href="{% url 'makeit:detail' question.id %}">{{ question.subject }}</a>
                </td>
                <td>{{ question.author }}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="p-1 mb-4 text-white rounded-pill" style="background-color:#178CA4;">
            <a href="{%url 'good'%}" class="year px-2">&lt명예의 쩐당&gt</a>
          </div>
          {%for member in user_list%}
          <div class="commentcard mb-3">
            <div class="card-body">
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{member.profile.url}}" alt="avatar" width="40" style="border: 1px solid #178CA4;"
                  height="40" />
                <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-primary mb-0">
                      <a class="usernamel" href="{%url 'common:profile' member.id%}">{{member.number}}({{member.username}})</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {%endfor%}


        </div>
      </div>


    </div>
  </div>



</main>


{% endblock %}

{% block script %}
{% endblock %}


