{% extends 'base.html' %}
{% block content %}
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
<div class="container px-5">
    <div class="container px-5">
    <h5 class="my-3 border-bottom pb-2">프로젝트 등록</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Title:</label> 
            <div class="col-sm-10">
            <input type="text" placeholder="제목" class="form-control" name="title" value="{{project.title}}" maxlength="100" required id="id_content">
            </div>
            </div>

            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">member:</label> 
            <div class="col-sm-10">
            <input type="text" placeholder="Ex) 최시원(23-117), 오유찬(23-091)" class="form-control" name="member" value="{{project.member}}" maxlength="100" required id="id_content">       
            </div>
            </div>
    
            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Video:</label> 
            <div class="col-sm-10">
            <input type="url" class="form-control" placeholder="영상링크" name="video" value="{{project.video}}" maxlength="200" required id="id_video">
            </div>
            </div>
    
            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Year:</label> 
            <div class="col-sm-10">
            <select name="year" class="form-control" required id="id_year">
            <option value="" selected>---------</option>
            {% for year in year_list %}
            <option value="{{year.id}}">{{year.year}}</option>
            {% endfor %}
            </select>
            </div>
            </div>
    
        
            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">포스터:</label> 
            <div class="col-sm-10">
            <input type="file" class="form-control" name="poster" id="poster" required>
            </div>
            </div>
        
            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">최종보고서:</label> 
            <div class="col-sm-10">
            <input type="file" class="form-control" name="repoter" id="repoter" required>
            </div>
            </div>

            <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">프로젝트 파일: </label>
            <div class="col-sm-10">
            <input type="file" class="form-control" name="uploadedFile" id="uploadedFile" required>
            </div>
            </div>
            
        <button type="submit" onclick="check()" class="btn btn-primary">저장하기</button>
    </div>
    </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>

    function check() {
      alert('저장되었습니다.');
    }
    </script>
{% endblock %}