{% extends 'base.html' %}
{% block content %}
<h1>{{ project.title }}</h1>
<div>
    {{ project.content }}
</div>
<h5>{{ project.comment_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for comment in project.comment_set.all %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>
<form action="{% url 'comments_create' project.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="댓글작성">
    </form>

{% endblock %}
