{% extends 'base.html' %}
{% block content %}
<h1>{{ project.title }}</h1>
<div>
    {{ project.content }}
</div>
<h5>{{ project.comment_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for comment in project.comment_set.all %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>


<form action="{% url 'comments_create' project.id %}" method="post">
    {% csrf_token %}
            <!-- 오류표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->    
        <textarea {% if not user.is_authenticated %}disabled{% endif %}
         name="content" id="content" class="form-control" rows="10"></textarea>
        <input type="submit" value="댓글작성">
    </form>

{% endblock %}
