{% extends 'base.html' %}

{% block title %}{{kw}} - Croffle{% endblock %}

{% block content %}

{% load static %}
<div class="album py-5 bg-light">
    <div class="container px-5">
      <h2>검색어: {{ kw }}</h2>
      <hr class="line">
      {% if project_list %}
        <div class="row row-cols-1 row-cols-md-3">
            {% for project in project_list %}
            <div class="col-mb-4 py-1">
            <div class="card">
                {% if project.imgfile %}
                <img class="card-img-top" src="{{ project.imgfile.url }}" style="height: 200px; width: 100%;">
                {% else %}
                <img class="card-img-top" data-src="" style="height: 220px; width: 100%;">
                {% endif %}
                <div class="card-body" style="height: 150px;">
                <a href="/{{ project.id }}/" style="text-decoration: none; color: black;">
                    <h5 class="navlink"style="color:#072A40;">{{ project.title }}</h5>
                </a>
                <p class = "card-text">{{project.abstract}}</p>
                </div>
                <div class="card-footer">
                {{project.author.username}} ({{project.author.number}})
                    <div style="float: right;">
                    {{project.harts.count}}
                    <img src="{% static 'heart.svg' %}" style="height: 25px; width: 25px;">
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        {%else%}
        검색어와 일치하는 게시물이 없습니다.
        {%endif%}
      </div>
      </div>

{% endblock %}